{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <body>
    <button style="float: right;"  onclick="location.href='{% url 'logout-user' %}'">Logout</button>

    <h1>Welcome Onboard !</h1>

    <form method="post" action="{% url 'dashboard-page' %}">
        {% csrf_token %}
        <label>Current Location:</label>
        <select name="cl">
            {% for cl in current_location %}
                <option value="{{ cl }}">{{ cl }}</option>

            {% endfor %}
        </select>
        <label>Working Exp:</label>
        <select name="we">
            {% for we in work_exp %}
                <option value="{{ we }}">{{ we }}</option>
            {% endfor %}
        </select>
        <label>Skills:</label>
        <select name="sk">
            {% for sk in skills %}
                <option value="{{ sk }}">{{ sk }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit">Apply Filter</button>
        <button type="submit" formaction="{% url 'export-csv' %}">Export CSV</button>


        <br>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Working Exp</th>
                    <th>Current Location</th>
                    <th>Nearest City</th>
                    <th>Pref Location</th>
                    <th>CTC</th>
                    <th>Current Employer</th>
                    <th>Current Designation</th>
                    <th>Skills</th>
                    <th>UGC</th>
                </tr>
                </thead>
                <tbody>
                {% for data in filter_data %}
                    <tr>
                        <td>{{ data.serial_num }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.mobile_num }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.work_exp }}</td>
                        <td>{{ data.current_location }}</td>
                        <td>{{ data.nearest_city }}</td>
                        <td>{{ data.pref_location }}</td>
                        <td>{{ data.ctc }}</td>
                        <td>{{ data.current_employer }}</td>
                        <td>{{ data.current_designation }}</td>
                        <td>{{ data.skills }}</td>
                        <td>{{ data.ugc }}</td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    {% block message_d %}

        {% if messages %}
            {% for message in messages %}

                {% if message.tags == 'success' %}
                    <div class="alertCustomSuccess "><strong class="text-success">SUCCESS</strong>: {{ message }}.</div>
                {% endif %}
                {% if message.tags == 'warning' %}
                    <div class="alertCustomInvalid"><strong class="text-danger">WARNING</strong>: {{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <script>

            jQuery(function($) {
                $('.alertCustomSuccess').delay(5000).slideUp(400);
                $('.alertCustomInvalid').delay(5000).slideUp(400);
            });
        </script>
    {% endblock %}
    </body>
{% endblock %}

