{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <body>


<!--LOGIN & REGISTER START-->

<div class="loginAndRegister">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<ul class="nav nav-tabs nav-justified">
<li class="active"><a href="#loginss" data-toggle="tab"><i class="material-icons f_s_31 f_w_700 p_r_2">person</i> login</a></li>
</ul>
</div>
<div class="modal-body">
<div class="tab-content">

<div class="tab-pane fade in active" id="loginss">
<form action="{% url 'login-user' %}" method="post"  role="form" class="p_10">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" name="email">
    </div>
    <div class="form-group has-feedback">
      <input type="password" class="form-control" id="myInput" placeholder="Password" name="password">
      <span class="form-control-feedback m_t_5" style="pointer-events:auto;"><i class="material-icons" style="cursor:pointer; font-size:20px;" onclick="myFunction()">remove_red_eye</i></span> </div>
    <div class="form-group">
      <label class="customCheckbox">Remember Me
        <input type="checkbox">
        <span class="checkmark"></span> </label>
    </div>
    <button class="btn btn-default theme_bg btn-lg btn-block c_000 f_s_16 b_r_40">Log In</button>
    <p class="text-center c_595c68 m_t_15 f_s_12">No account yet? <span><a href="{% url 'reg-page' %}" class="text-muted f_w_700">Register!</a></span></p>
    <p class="text-center f_s_12 p_x_40 m_t_30">By login you are agree to our <ins class="text-muted">terms of service</ins> and <ins class="text-muted">privacy policy.</ins></p>
  </form>
</div>

</div>
</div>

</div>
</div>


</div>
<!--LOGIN & REGISTER END-->


<script>
$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip(); });

function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

</script>
{% block message_d %}

{% if messages %}
     {% for message in messages %}

         {% if message.tags == 'success' %}
<div class="alertCustomSuccess "><strong class="text-success">SUCCESS</strong>: {{ message }}.</div>
         {% endif %}
          {% if message.tags == 'warning' %}
<div class="alertCustomInvalid"><strong class="text-danger">WARNING</strong>: {{ message }}.</div>
         {% endif %}
    {% endfor %}
{% endif %}
<script>

jQuery(function($) {
    $('.alertCustomSuccess').delay(5000).slideUp(400);
	$('.alertCustomInvalid').delay(5000).slideUp(400);
});
</script>
 {% endblock %}
</body>
{% endblock %}

