@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
*{margin:0; padding:0; outline:0;}
body{background:#f1f3f4; font:400 16px/1.5 'Roboto Condensed', sans-serif;}

/*COMMON CSS START*/
.f_s_12{font-size:12px;}
.f_s_13{font-size:13px;}
.f_s_14{font-size:14px;}
.f_s_15{font-size:15px;}
.f_s_16{font-size:16px;}
.f_s_17{font-size:17px;}
.f_s_18{font-size:18px!important;}
.f_s_22{font-size:22px;}
.f_s_20{font-size:20px!important;}
.f_s_21{font-size:21px;}
.f_s_24{font-size:24px;}
.f_s_28{font-size:28px;}
.f_s_30{font-size:30px;}
.f_s_31{font-size:31px!important;}
.f_s_34{font-size:34px;}
.f_s_36{font-size:36px!important;}

.c_000{color:#000}
.c_fff{color:#fff;}
.c_green{color:#06ce3c;}
.c_blue{color:#3366ff;}

.bg_none{background:transparent;}
.bg_fff{background:#fff;}
.theme_bg{background:#D3D5D5;}
.theam_text{color:#D3D5D5;}


.m_0{margin:0;}
.m_t_2{margin-top:2px;}
.m_t_4{margin-top:4px;}
.m_t_5{margin-top:5px;}
.m_t_10{margin-top:10px;}
.m_t_15{margin-top:15px;}
.m_t_20{margin-top:20px;}
.m_t_25{margin-top:25px;}
.m_t_30{margin-top:30px;}
.m_t_40{margin-top:40px;}

.m_t_m_3{margin-top:-3px;}

.m_b_0{margin-bottom:0;}
.m_b_5{margin-bottom:5px;}
.m_b_10{margin-bottom:10px;}
.m_b_15{margin-bottom:15px;}
.m_b_20{margin-bottom:20px;}
.m_b_25{margin-bottom:25px;}
.m_b_30{margin-bottom:30px;}

.m_x{margin-left:0!important; margin-right:0!important;}
.m_x_5{margin-left:5px; margin-right:5px;}
.m_x_10{margin-left:10px; margin-right:10px;}
.m_x_15{margin-left:15px; margin-right:15px;}

.m_y_5{margin-top:5px; margin-bottom:5px;}
.m_y_10{margin-top:10px; margin-bottom:10px;}
.m_y_15{margin-top:15px; margin-bottom:15px;}
.m_y_40{margin-top:40px; margin-bottom:40px;}

.m_r_5{margin-right:5px!important;}
.m_r_10{margin-right:10px;}
.m_r_15{margin-right:15px;}
.m_r_20{margin-right:20px;}

.m_r_auto{margin-right:auto;}
.m_l_auto{margin-left:auto;}

.p_0{padding:0;}
.p_10{padding:10px;}
.p_t_0{padding-top:0!important;}
.p_t_3{padding-top:3px!important;}
.p_t_5{padding-top:5px!important;}
.p_t_6{padding-top:6px!important;}
.p_t_10{padding-top:10px;}
.p_t_15{padding-top:15px;}
.p_t_25{padding-top:25px;}
.p_t_30{padding-top:30px;}

.p_b_5{padding-bottom:5px;}
.p_b_10{padding-bottom:10px;}
.p_b_15{padding-bottom:15px;}
.p_b_20{padding-bottom:20px;}
.p_b_30{padding-bottom:30px;}

.p_l_0{padding-left:0!important;}
.p_l_5{padding-left:5px!important;}
.p_l_10{padding-left:10px!important;}
.p_l_20{padding-left:20px!important;}
.p_l_25{padding-left:25px!important;}
.p_l_30{padding-left:30px!important;}
.p_l_40{padding-left:40px!important;}

.p_r_0{padding-right:0!important;}
.p_r_2{padding-right:2px!important;}
.p_r_5{padding-right:5px!important;}
.p_r_20{padding-right:20px!important;}
.p_r_30{padding-right:30px!important;}

.p_x{padding-left:0; padding-right:0;}
.p_x_2{padding-left:2px; padding-right:2px;}
.p_x_5{padding-left:5px; padding-right:5px;}
.p_x_10{padding-left:10px; padding-right:10px;}
.p_x_15{padding-left:15px; padding-right:15px;}
.p_x_20{padding-left:20px; padding-right:20px;}
.p_x_25{padding-left:25px; padding-right:25px;}
.p_x_30{padding-left:30px; padding-right:30px;}
.p_x_40{padding-left:40px; padding-right:40px;}
.p_x_45{padding-left:45px; padding-right:45px;}
.p_x_80{padding-left:80px; padding-right:80px;}

.p_y_0{margin-top:0; margin-bottom:0;}
.p_y_5{padding-top:5px; padding-bottom:5px;}
.p_y_8{padding-top:8px; padding-bottom:8px;}
.p_y_10{padding-top:10px; padding-bottom:10px;}
.p_y_15{padding-top:15px; padding-bottom:15px;}
.p_y_20{padding-top:20px; padding-bottom:20px;}
.p_y_25{padding-top:25px!important; padding-bottom:25px!important;}
.p_y_30{padding-top:30px; padding-bottom:30px;}

.f_w_300{font-weight:300}
.f_w_400{font-weight:400}
.f_w_700{font-weight:700}

.border_none{border:0!important;}
.border_l_n{border-left:0;}
.border_r_n{border-right:0;}
.border_all_cc{border:1px solid #ccc;}

.cp{cursor:pointer;}
.pr{position:relative;}

/*FLEX START*/
.flex_none{display:block!important;}
.d_flex{display:flex;}
.jusfify_content_space_around{justify-content:space-around;}
.jusfify_content_space_between{justify-content:space-between;}
.jusfify_content_center{justify-content:center;}
.jusfify_content_flex_end{justify-content:flex-end;}
.flex_0_0_auto{flex:0 0 auto;}
.align_item_center{align-items:center;}
.flex_wrap_wrap{flex-wrap:wrap;}
.flex_wrap_nowrap{flex-wrap:nowrap;}

.tdn{text-decoration:none!important;}
.b_r_40{border-radius:40px;}
.b_r_full{-moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; -webkit-border-radius:100%; border-radius:100%;}
.tbs{box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);}

.b_b_1_c{border-bottom:1px solid #ccc;}

.text_tranket{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
/*FLEX END*/


/*WBBSITE START*/
.webHeader_top{display:block; margin-bottom:10px;}
.webHeader_top .btn_outline{background:transparent; border:1px solid #dbdada; padding:7px 10px 0; color:#333; transition:background 1s;}
.webHeader_top .btn_outline:hover{background:#dbdada; color:#000;}

.weHeader_bottom{background:#000; display:block; height:50px;}
.weHeader_bottom .web_logo{position:absolute; width:100%; height:100%; left:0; top:-50px;}
.weHeader_bottom .web_logo img{width:230px;}
.weHeader_bottom .navbar{margin-bottom:inherit; min-height:inherit;}
.weHeader_bottom .navbar-toggle .icon-bar{background:#fff;}
.weHeader_bottom .nav>li>a,.weHeader_bottom .nav>li ul li a{color:#fff; padding:4px 10px; border: 1px solid #d5d5d5; border-radius: 20px;}
.weHeader_bottom .nav>li>a:hover,.weHeader_bottom .nav>li>a:focus{color:#000;}
.weHeader_bottom .navbar-nav>li{margin:9px 0 0 20px;}
.weHeader_bottom .nav>li ul{display:none; background:#141313; position:absolute; left:0; min-width:200px; padding:10px; list-style-type:none;}
.weHeader_bottom .nav>li ul li a{border:0; text-decoration:none; display:block; transition:color 0.5s;} .weHeader_bottom .nav>li ul li a:hover{color:#999;}
.weHeader_bottom .nav>li ul li{margin:8px;}
.weHeader_bottom .nav>li:hover ul{display:block;}

#myCarousel{margin-top:1px;}
#myCarousel .item{height:500px; background:url(../images/borderRepeat.jpg) left top repeat-x, url(../images/borderRepeat.jpg) left bottom repeat-x;}
#myCarousel .item *{color:#000;}
#myCarousel .item img{width:100%; height:100%; text-align:center; object-fit:cover;}
#myCarousel .carousel-indicators li{width:70px; background:#e4e2e2; border:0;}
#myCarousel .carousel-indicators .active{background:#333; border:0; height:10px;}

.websiteWorkarea{display:block; margin:30px 0;}
.websiteWorkarea .project{margin-bottom:80px;}
.websiteWorkarea .headingTag{padding:10px 20px; margin-bottom:15px; font-size:18px; color:#fff; background:linear-gradient(to right, #000, #ccc, white); width:500px;}
.websiteWorkarea .reelbox{min-height:200px; background:url(../images/borderRepeat.jpg) left top repeat-x, url(../images/borderRepeat.jpg) left bottom repeat-x; border:5px solid gray; padding:20px 0;}
.websiteWorkarea .reelbox .media{border-right:4px solid gray; height:150px;}
.websiteWorkarea .reelbox .media p{line-height:18px;}
.websiteWorkarea .reelbox .media a img{width:150px; height:130px; border:1px solid #ccc; margin-top:10px; border-radius:8px;}
/*WBBSITE END*/




/*HEADER START*/
.container{width:1200px;}
.header{background:#fff; padding:6px 0; border-radius:40px;}
header{position:sticky; top:0; z-index:999;}
header .form-control{border-radius:20px; }
header .input-group-addon{background-color:transparent;}
header .searchBtn{border-radius:0 20px 20px 0; width:70px;}
header .ncount{position:absolute; top:0; right:11px; background: red; font-size:10px; width: 22px; height: 22px; text-align: center; color: #fff; font-weight: 700; border:3px solid #fff;}
header .HiconsCtrl{display:flex; align-items:center; justify-content:flex-end; flex-wrap:wrap;}
header .HiconsCtrl .sheprator{border-left:1px solid #999; height:28px; margin:4px 14px auto 7px;}
header .HiconsCtrl i{color:#333; margin-right:14px; font-size:28px;}
header .signOut{background: #fff; min-width: 222px !important; top: 55px; border-top: 1px solid #e6e5e5; left:-183px;}
header .signOut span {background: #fff; position: absolute; top: -8px; right: 13px; border: 1px solid; border-color: #e6e5e5 transparent transparent #e6e5e5; width: 15px;height: 15px; transform: rotate(45deg);}
header .signOut li {padding: 10px 0; border-right: 0 !important; border-bottom: 1px solid #e5e5e5; transition: all 0.5s ease;}
header .signOut li a {padding: 4px 20px; color: #999; font-size:15px; display: flex; align-items: center; transition: all 0.5s ease;}
header .signOut li a i{font-size:22px;}
header .dropdown-menu>li>a:focus,header .dropdown-menu>li>a:hover{background-color:inherit; color:#333;}
/*HEADER END*/


/*WORKAREA START*/
.loginAndRegister{position:fixed; left:50%; top:50%; transform:translate(-50%,-50%);}
.loginAndRegister .modal-header{background:#ccc; border-radius:40px 40px 0 0;}
.loginAndRegister .modal-content{border-radius:40px;}
.loginAndRegister .nav-tabs.nav-justified>li>a{padding:5px; font-size:25px; font-weight:400; text-transform:uppercase; display:flex; justify-content:center; color:#999;}
.loginAndRegister .nav-tabs>li.active>a, .loginAndRegister .nav-tabs>li.active>a:focus, .loginAndRegister .nav-tabs>li.active>a:hover{background-color:transparent; border:0; color:#000;}


.customCheckbox{font-size: 13px; padding-left:26px; font-weight:300; color:#595c68; position:relative;}
.customCheckbox input {opacity: 0;}
.customCheckbox .checkmark {position: absolute; top:4px; left: 0; height:16px; width:16px; border:1px solid #ccc; border-radius:2px;}
.customCheckbox input:checked ~ .checkmark {background-color: #666; border:1px solid #fff;}
.customCheckbox input:checked ~ .checkmark:after {left: 4px; top:0; width:6px; height:10px; position:absolute; content:''; border: solid white; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}

.customRadio{font-size: 14px; padding-left:40px; font-weight:300; color:#595c68; position:relative;}
.customRadio input {opacity: 0;}
.customRadio .checkmark {position: absolute; top:3px; left: 0; height:20px; width:20px; border:1px solid #ccc; -moz-border-radius:50%; -ms-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;}
.customRadio input:checked ~ .checkmark {}
.customRadio input:checked ~ .checkmark:after{height:20px; width:20px; position:absolute; content:''; left:-2px; top:-2px; background:url(images/checkbox.png) no-repeat 0 center;}
.loginAndRegister .modal-dialog{max-width:420px; margin:auto;}
.loginAndRegister .closeModal{position:absolute; right:-20px; top:-26px; font-size:26px; background:#ccc; color:#423c3c; height:32px; cursor:pointer;}
.loginAndRegister .modal-body{min-height:400px;}
.loginAndRegister .form-control{border:0; border-bottom:1px solid #ccc; border-radius:0; box-shadow:none;}

.lpct_bar{display:block;}
.lpct_bar .panel{box-shadow:0 6px 9px 0px #ccc; transition:all 0.5s ease;}
.lpct_bar .panel:hover{margin-top:-5px; transition:all 0.2s ease;}
.lpct_bar .panel-heading{color:#4d4c4c; background:#efefef; border:0; display:flex; align-items:center; font-size:18px; padding:5px 15px; text-transform:uppercase; font-weight:400;}
.lpct_bar .panel-body{min-height:180px;}
.lpct_bar .media{margin-top:5px;}
.lpct_bar .contenthere{overflow:hidden; width:66%; text-overflow:ellipsis; white-space:nowrap; font-size:14px; margin:0;}

.colorMark{display:inline-block; margin-left:auto;}
.colors{width:14px; height:14px; display:inline-block; margin:0;}
.colors.red{background:#fcd2d3;}       .colors.red.active{background:#f41a1b;}
.colors.orange{background:#f9f2d0;}    .colors.orange.active{background:#ff890d;}
.colors.yellow{background:#fff792;}    .colors.yellow.active{background:#f8f203;}
.colors.green{background:#d9ffce;}     .colors.green.active{background:#36E005;}

.lpct_bar .list-unstyled li{border-bottom:1px solid #e2e2e2; position:relative; margin-bottom:8px; display:flex;}
.lpct_bar .list-unstyled li::before{position:absolute; content:''; border-bottom:1px solid #666; width:20px; left:0; bottom:-1px;}
.lpct_bar .list-unstyled li::after{position:absolute; content:''; border-bottom:1px solid #666; width:20px; right:0; bottom:-1px;}
.lpct_bar .list-unstyled span{font-size:14px; color:#333;}
.uploadPP input{opacity:0; position:relative;} 
.uploadPP::after{content:'Upload Profile Pic'; background:#D3D5D5; padding:5px 20px; position:absolute; left:50%; bottom:5px; font-size:12px; border-radius:40px; transform:translate(-50%,92%); width:130px;}
.colorTheme{position:absolute; width:24px; top:40px; right:10px; background:#e5e5e5;}
.colorTheme::after{position:absolute; content:'rating'; right:7px; top:32px; text-transform:uppercase; font-size:10px; font-weight:700; transform:rotate(90deg);letter-spacing:3px;}
.colorTheme p{height:10px; display:block; margin-bottom:1px;}
.colorTheme p.one{background:#31abff;}.colorTheme p.two{background:#ff762b;}.colorTheme p.three{background:#91a3c4;}.colorTheme p.four{background:#83cc1d;}.colorTheme p.five{background:#ff4eff;}.colorTheme p.six{background:#a169eb;}.colorTheme p.seven{background:#ff4141;}

.panel_heading_all{border-bottom:1px solid #ccc; font-size:16px; font-weight:400; text-transform:uppercase;}

.link li{display:block!important;}
.link li::before,.link li::after{display:none;}
.link li a{color:#666; text-decoration:none; display:block; text-transform:capitalize; transition:all 1s ease 0.1s;}
.link li a i{padding-right:5px;}
.link li a:hover{color:#000; transform:translateX(15px); transition:all 0.3s ease;}

.comment_box{background:#fff; display:block; padding:10px;}
.selectModify{position:relative;}
.comment_box_form_group{width:17%; display:inline-block; margin-left:2%;}
.selectModify label,.selectModifyTwo label{font-size:12px; font-weight:700; text-transform:uppercase;}
.selectModify select,.selectModifyTwo select{-webkit-appearance: none;  -moz-appearance: none;}
.selectModify::after{position:absolute; right:36px; top:28px; content:''; height:29px; width:1px; background:#cccccc;}
.selectModify::before{position:absolute; right:14px; bottom:12px; content:''; border:solid #666; border-width:0 3px 3px 0; padding:3px; -webkit-transform: rotate(-45deg); transform: rotate(45deg); pointer-events:none;}

.selectModifyTwo::after{position:absolute; right:52px; top:28px; content:''; height:29px; width:1px; background:#cccccc;}
.selectModifyTwo::before{position:absolute; right:30px; bottom:12px; content:''; border:solid #666; border-width:0 3px 3px 0; padding:3px; -webkit-transform: rotate(-45deg); transform: rotate(45deg); pointer-events:none;}

.filterArea{background:#e1e3e4; display:block; min-height:100px; padding:10px 10px 20px;}
.post{border:1px solid #ccc; border-radius:60px; font-size:14px; color:#666; padding:10px 30px 0; min-height:80px; margin-bottom:20px;}

.postComment{padding:15px 0 10px; display:flex; align-items:center; flex-wrap:wrap; justify-content:space-around; text-transform:uppercase; font-weight:700;}
.postComment span i{font-size:14px; padding-right:3px;}
.postComment span a{font-size:12px; display:flex; color:#666; text-decoration:none;}
/*WORKAREA END*/


/*FOOTER START*/
footer{background: #fff; min-height: 50px; text-align:center; padding-top:16px; width: 100%;}
.material-icons{font-size:inherit;}
/*FOOTER END*/












@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	select::-ms-expand {display: none;}
	}

@media only screen and (max-width:1200px){
	.container{width:90%;}
	.lpct_bar .contenthere{width:80%;}
	.comment_box_form_group{width:30%;}
}

@media only screen and (max-width:992px){	
.header{border-radius:8px;}
	header .searchBar{margin:10px 0;}
	
	
	}
	
@media only screen and (max-width:767px){
	.loginAndRegister{position:static; transform:translate(0)}
	.header{border-radius:4px;}
	.container{width:98%;}
	header .logo{text-align:center;}	
	header .HiconsCtrl{justify-content:center;}
	.weHeader_bottom{height:auto;}
	.weHeader_bottom .nav>li ul{position:static; margin-top:5px;}
	
	
	}
	
	@media only screen and (max-width:480px){		
		.lpct_bar .contenthere{width:66%;}
	}
	
	